body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.top-bar {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    transition: opacity 0.3s;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 27px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
}

.menu.active {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.menu a {
    font-size: 36px;
    margin: 20px 0;
    color: #000;
    text-decoration: none;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 8px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 30px;
    text-align: left;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 999;
}

.name {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
    color: #000;
}

.subtext {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 5px 0 0 0;
    color: #808080;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 20px 0;
    margin-top: 100vh;
}

.tile {
    background-color: #f0f0f0;
    margin: 10px;
    width: calc(50% - 20px);
    height: 0;
    padding-bottom: 75%;
    position: relative;
    max-width: 100%;
}

.tile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

.language-tile {
    background-color: #000;
    color: #fff;
    font-family: 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    width: calc(50% - 20px);
    height: 0;
    padding-bottom: 75%;
    position: relative;
    max-width: 100%;
}

.language-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .tile, .language-tile {
        width: 100%;
        padding-bottom: 100%;
    }
}